{% load staticfiles %}
<script src={% static 'main/dean/department_management/department_management_modify.js' %}></script>

<div class="add_popup" style="height: 250px;">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    <div class="add_title">指定 {{ department.name }} 新系主任</div>

    <form id="department_management_add_form" method="post" action="/upload" name="department_management"
          autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
        <input type="hidden" name="requestfor" value="change_head_of_department_upload">

        <div class="add_left">

            <div hidden>
                <span>所修改专业</span>
                <input type="text" hidden name="department_id" value="{{ department.id }}">
            </div>

            <div style="margin: 0 0 0 -40px">
                <span>原系主任 </span>
                <input type="text" style="width: 200px"
                       value="{{ original_head.name }} {{ original_head.id }}" disabled>
            </div>


        </div>

        <div class="add_right">
            <div style="margin: 0 0 0 -40px">
                <span>新系主任 </span>
                <select name="teacher" style="width: 225px">
                    {% if teacher_list %}
                        {% for teacher in teacher_list %}
                            <option>{{ teacher.name }} {{ teacher.id }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>