.experiment_course_content{
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.experiment_course_search_bar{
    width: 550px;
    height: 50px;
    margin: 25px auto;
    padding: 0 0 0 15px;
    font-size: 20px;
    line-height: 50px;
    background: rgba(255,255,255,0.3);
}

.experiment_course_search_bar_item{
    float: left;
    margin: 0 12px;
}

#experiment_course_search_button{
    width: 100px;
    height: 50px;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0.35);
    float: right;
    cursor: pointer;
}

#experiment_course_search_button:hover{
    background: rgba(255,255,255,0.7);
}

.experiment_course_table{
    width: 990px;
    text-align: center;
    background: rgba(255,255,255,0.2);
    overflow: visible;
}

.experiment_course_table th{
    background: rgba(255,255,255,0.6);
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    overflow: hidden;
}

.experiment_course_table td{
    max-width: 120px;
    height: 80px;
    line-height: 32px;
    font-size: 16px;
}

.experiment_course_content img{
    height: 30px;
    width: 30px;
    margin: 0 5px;
    opacity: 0.75;
    cursor: pointer;
}

.experiment_course_content img:hover{
    opacity: 1;
}

.experiment_course_add_button{
    width: 990px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    background: rgba(255,255,255,0.4);
    cursor: pointer;
}

.experiment_course_add_button:hover {
    background: rgba(255,255,255,0.7);
}