.teaching_project_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.teaching_project_search_bar{
    width: 550px;
    height: 50px;
    margin: 25px auto;
    padding: 0 0 0 15px;
    font-size: 20px;
    line-height: 50px;
    background: rgba(255,255,255,0.3);
}

.teaching_project_search_bar_item{
    float: left;
    margin: 0 12px;
}

#teaching_project_search_button{
    width: 100px;
    height: 50px;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0.35);
    float: right;
    cursor: pointer;
}

.teaching_project_item {
    width: 1000px;
    min-height: 180px;
    height: 100%;
}

.teaching_project_item_title {
    font-size: 24px;
    margin: 30px 0 10px 20px;
}

.teaching_project_item_table {
    width: 990px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
}

.teaching_project_item_table th {
    background: rgba(255, 255, 255, 0.6);
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    overflow: visible;
}

.teaching_project_item_table td{
    max-width: 120px;
    height: 50px;
    line-height: 32px;
    font-size: 16px;
}

.teaching_project_item_table img{
    height: 30px;
    width: 30px;
    margin: 0 5px;
    opacity: 0.75;
    cursor: pointer;
}

.teaching_project_item_table img:hover{
    opacity: 1;
}

.teaching_project_add_button{
    width: 990px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    background: rgba(255,255,255,0.4);
    cursor: pointer;
}

.teaching_project_add_button:hover{
    background: rgba(255,255,255,0.7);
}

