.change_password_content{
    width: 950px;
    min-height: 600px;
    height: 100%;
}

.change_password_content_table{
    margin: 30px auto 0;
}

.change_password_content_table tr{
    width: 700px;
    height: 45px;
    line-height: 45px;
}

.change_password_content_table th{
    width: 250px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
    cursor: default;
}

.change_password_content_table td{
    width: 300px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}

.change_password_content_table input{
    width: 300px;
    height: 50px;
    border: none;
}

#change_password_button{
    margin: 50px auto;
    float: none;
}

.user_info_modify_area{
    width: 300px;
    height: 43px;
    padding: 0;
    font-size: 20px;
    border: none;
    background: rgba(255,255,255,0.9);
}