.change_password_content {
    width: 950px;
    min-height: 600px;
    height: 100%;
}

.change_password_content_middle{
    width: 550px;
    height: 160px;
    margin: 50px auto 0;
}

.change_password_item{
    width: 550px;
    height: 80px;
    margin: 0 auto;
}

.change_password_content_title {
    width: 250px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: default;
    float: left;
}

.change_password_content_middle input{
    float: left;
}

#change_password_button {
    margin: 30px auto 0;
    float: none;
}

.user_info_modify_area {
    width: 300px;
    height: 45px;
    padding: 0;
    font-size: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
}