.change_password_content {
    width: 950px;
    min-height: 600px;
    height: 100%;
}

#change_password_form{
    width: 550px;
    margin: 50px auto 0;
}

.change_password_item{
    width: 550px;
    height: 50px;
    margin: 0 auto 50px;
    box-shadow: 0 0 20px #aaaaaa;
}

.change_password_content_title {
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #f0f0f0;
    cursor: default;
    float: left;
}

#change_password_form input{
    float: left;
}

#change_password_button {
    margin: 50px auto 0;
    float: none;
}

.user_info_modify_area {
    width: 290px;
    height: 50px;
    padding: 0 0 0 10px;
    font-size: 20px;
    text-align: center;
    border: none;
    background: #ffffff;
}