{% load staticfiles %}
{% load myfilters %}
<script src={% static "main/head_of_department/workload_statistics/workload_statistics.js" %}></script>

<div class="main_content">

    <div class="content_title">{{ department.name }} 工作量统计</div>

    <div class="blur_area">
        <table cellspacing="0" style="margin: 30px auto 0;">
            <tr>
                <th width="120px">教师</th>
                <th width="60px">职称</th>
                <th width="100px">教学工作量</th>
                <th width="100px">教研工作量</th>
            </tr>

            {% if teacher_list %}
                {% for teacher in teacher_list %}
                    <tr>
                        <td>{{ teacher.name }} {{ teacher.id }}</td>
                        <td>{{ teacher.title }}</td>
                        <td>{{ teacher.id | workload_count_course }}</td>
                        <td>{{ teacher.id | workload_count_project }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

</div>
