{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/teacher/workload_input/theory_course/theory_course.css" %}>
<script src={% static "main/teacher/workload_input/theory_course/theory_course.js" %}></script>

<div class="theory_course_content main_interface">

    <div class="content_title">理论课 工作量录入</div>

    <div class="theory_course_content_blur_area">

        <div class="theory_course_search_bar">
            <div class="theory_course_search_bar_item">
                <span>学年</span>
                <select>
                    <option>2016-2017学年</option>
                    <option>2017-2018学年</option>
                </select>
            </div>

            <div class="theory_course_search_bar_item">
                <span>学期</span>
                <select>
                    <option>第一学期</option>
                    <option>第二学期</option>
                </select>
            </div>

            <div class="theory_course_search_bar_item">
                <span>课程名</span>
                <select>
                    <option>------------------</option>
                    <option>微积分</option>
                    <option>有机化学</option>
                </select>
            </div>

            <div id="theory_course_search_button">查询</div>
        </div>

        <table class="theory_course_table" cellspacing="0">
            <tr>
                <th width="160px">学年/学期</th>
                <th width="220px">课程名</th>
                <th width="90px">课程属性</th>
                <th width="150px">上课班级</th>
                <th width="60px">人数</th>
                <th width="60px">学时</th>
                <th width="60px">学分</th>
                <th width="100px">审核状态</th>
                <th width="100px">修改/删除</th>
            </tr>

            {% if theory_course_list %}

                {% for theory_course in theory_course_list %}

                    <tr>
                        <td><div>{{ theory_course.year }}-{{ theory_course.year | add:1 }}学年</div><div>第{{ theory_course.semester }}学期</div></td>
                        <td><div>{{ theory_course.name }}</div><div>{{ theory_course.id }}</div></td>
                        {% if theory_course.attribute == 1 %}
                            <td>必修</td>
                        {% elif theory_course.attribute == 2 %}
                            <td>选修</td>
                        {% elif theory_course.attribute == 3 %}
                            <td>限选</td>
                        {% else %}
                            <td>ERROR</td>
                        {% endif %}
                        <td>{{ theory_course.classes | get_class_name }}</td>
                        <td>{{ theory_course.student_sum }}</td>
                        <td>{{ theory_course.period }}</td>
                        <td>{{ theory_course.credit }}</td>
                        {% if theory_course.audit_status %}
                            <td>已审核</td>
                        {% else %}
                            <td>未审核</td>
                        {% endif %}

                        {% if not theory_course.audit_status %}
                        <td>
                            <img class="theory_course_modify" id="{{ theory_course.id }}_modify"
                                 src={% static "main/resourse/modify.png" %}>
                            <img class="theory_course_delete" id="{{ theory_course.id }}_delete"
                                 src={% static "main/resourse/delete.png" %}>
                        </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>

                {% endfor %}

            {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><h2>暂</h2></td>
                    <td><h2>无</h2></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            {% endif %}

        </table>
        <div class="theory_course_add_button">新 增</div>

    </div>

    <div class="theory_course_add_content">
        {#        {% include "main/teacher/workload_input/theory_course/theory_course_add.html" %}#}
    </div>

</div>

