{% load staticfiles %}
<link rel="stylesheet" href={% static "main/teacher/workload_input/theory_course/theory_course_add.css" %}>
<script src={% static 'main/teacher/workload_input/theory_course/theory_course_add.js' %}></script>

<div class="theory_course_add">

    <div class="theory_course_add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    <div class="theory_course_add_title">新 增</div>

    <form id="theory_course_add_form" method="post" action="/upload" name="theory_course" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="requestfor" value="theory_course_add">

        <div class="theory_course_add_left">
            <div>
                <span>学年 </span>
                <select name="year" class="theory_course_add_form_data">
                    <option>2016-2017</option>
                    <option>2017-2018</option>
                </select>
            </div>

            <div>
                <span>学期 </span>
                <select name="semester" class="theory_course_add_form_data">
                    <option>第一学期</option>
                    <option>第二学期</option>
                </select>
            </div>

            <div>
                <span>课程属性 </span>
                <select name="course_attribute" class="theory_course_add_form_data">
                    <option>必修</option>
                    <option>限选</option>
                    <option>选修</option>
                </select>
            </div>

            <div>
                <span>课程名 </span>
                <input type="text" name="course_name" class="theory_course_add_form_data">
            </div>

            <div>
                <span>课程编号 </span>
                <input type="text" name="course_id" class="theory_course_add_form_data">
            </div>

            <div>
                <span>学时 </span>
                <input type="text" name="period" class="theory_course_add_form_data">
            </div>

            <div>
                <span>学分 </span>
                <input type="text" name="credit" class="theory_course_add_form_data">
            </div>
        </div>

        <div class="theory_course_add_right">

            <span style="height: 40px">班级</span>
            <div class="theory_course_add_classes">
                {% if class_list %}
                    {% for clas in class_list %}
                        <div><label><input type="checkbox" name="{{ clas.id }}"/> {{ clas.name }}</label></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


    </form>

    <div class="theory_course_add_buttons_area">
        <div id="theory_course_add_submit" class="theory_course_add_buttons">提交</div>
        <div id="theory_course_add_cancel" class="theory_course_add_buttons">取消</div>
    </div>


</div>