{% extends "base.html" %}
{% load staticfiles %}

{% block headmeta %}
    <link rel="stylesheet" href={% static "main/main.css" %}>

{% endblock %}

{% block base_content %}


    <div class="top_bar">
        <img id="logo" src={% static "base/logo.png" %}>
        <div class="top_bar_right">
            <div class="welcome">欢迎您，{{ user.name }} 老师！</div>
            <div class="logout"><a href="/index">[ 退出 ]</a></div>
            <div class="index_link">
                <a href="http://www.zzu.edu.cn" target="_blank">郑大官网</a> /
                <a href="http://www5.zzu.edu.cn/lifesci/" target="_blank">生科主页</a> /
                <a href="http://jw.zzu.edu.cn" target="_blank">教务在线</a>
            </div>
        </div>

    </div>

    <div class="content">
        <div class="content_left">
            <!--左边标题-->
            {% block content_left %}

            {% endblock %}
            <div class="copyright">
                <div>© 郑州大学生命科学学院</div>
{#                <div>本系统处于试运行阶段</div>#}
{#                <div>使用中遇到任何问题请联系开发者修复</div>#}
{#                <div>email: 895419327@qq.com</div>#}
{#                <div>tel: 18030066873 陈泓</div>#}
            </div>
        </div>

        <div class="content_right">
            <!--这里根据点击不同标题展现不同内容-->
            {% block content_right %}

            {% endblock %}
        </div>
    </div>

    <!--全局表单-->
    <form id="request_form" method="POST" autocomplete="off" class="hidden">
        {% csrf_token %}
        <input name="identify_code" value={{ identify_code }}>
        <input name="username" value="{{ username_post }}">
        <input name="status" value="{{ status_post }}">
        <input id="requestfor" name="requestfor" value="">
        <input id="request_data" name="request_data" value="">
        <input id="extra_data" name="extra_data" value="">
    </form>
{% endblock %}

{% block base_footer %}
    <script src={% static "library/jquery-form.js" %}></script>
    <script src={% static "main/main.js" %}></script>

    {% block main_footer %}

    {% endblock %}
{% endblock %}