{% extends "main/main.html" %}
{% load staticfiles %}

{% block content_left %}

    {% include "main/head_of_department/teacher_management/menu.html" %}

    {% include "main/head_of_department/workload_audit/menu.html" %}

    {% include "main/head_of_department/workload_statistics/menu.html" %}

{% endblock %}

{% block content_right %}

    {% include "main/teacher/notice/notice.html" %}

{% endblock %}

{% block main_footer %}
    <script src={% static "main/head_of_department/head_of_department.js" %}></script>
{% endblock %}