.workload_audit_reject {
    width: 800px;
    height: 400px;
    padding: 0 20px;
    font-size: 22px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 90px;
    left: 75px;
}

.workload_audit_reject_title {
    width: 700px;
    margin: 40px auto 40px;
    font-size: 30px;
    text-align: center;
}

.workload_audit_reject_cross {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.workload_audit_reject_cross img {
    height: 25px;
    width: 25px;
    cursor: pointer;
    opacity: 0.6;
}

.workload_audit_reject_cross img:hover {
    opacity: 1;
}

.workload_audit_reject_left {
    width: 330px;
    height: 200px;
    margin: 0 0 0 50px;
    float: left;
}

.workload_audit_reject_right {
    width: 330px;
    height: 200px;
    margin: 0 50px 0 0;
    float: right;
}

.workload_audit_reject select {
    width: 180px;
    margin: 0 0 22px 0;
}

.workload_audit_reject input {
    font-size: 21px;
    height: 26px;
    margin: 0 0 22px 0;
    border: none;
}

.workload_audit_reject_buttons_area {
    width: 350px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 280px;
}

.workload_audit_reject_buttons {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    border: 1px rgb(100, 100, 100);
}

#workload_audit_reject_submit {
    float: left;
}

#workload_audit_reject_cancel {
    float: right;
}

.workload_audit_reject_reason {
    height: 100px;
    width: 500px;
    margin: 0 auto;
}

.workload_audit_reject_reason textarea {
    height: 150px;
    width: 500px;
    padding: 10px;
    font-size: 20px;
    resize: none;
    border: 1px solid #CCCCCC;
}