{% load staticfiles %}

<link rel="stylesheet" href={% static "main/head_of_department/teacher_management/teacher_management.css" %}>
<script src={% static "main/head_of_department/teacher_management/teacher_management.js" %}></script>

<div class="teacher_management_content main_interface">

    <div class="content_title">{{ department.name }} 教师队伍管理</div>

    <table class="teacher_management_table" cellspacing="0">
        <tr>
            <th>教师编号</th>
            <th>教师姓名</th>
            <th>职称</th>
            <th>联系方式</th>
        </tr>

        {% if teacher_list %}
            {% for teacher in teacher_list %}
                <tr>
                    <td>{{ teacher.id }}</td>
                    <td>{{ teacher.name }}</td>
                    <td>{{ teacher.title }}</td>
                    <td>{{ teacher.phone_number }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class="teacher_management_add_button">新 增</div>
</div>