{% load staticfiles %}
<script src={% static 'main/head_of_department/teacher_management/teacher_management_add.js' %}></script>

<div class="add_popup" style="height: 450px;">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    <div class="add_title">新 增</div>

    <form id="teacher_management_add_form" method="post" action="/upload" name="teacher_management"
          autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="requestfor" value="teacher_add">

        <div class="add_left">
            <div>
                <span>教工号 </span>
                <input type="text" name="teacher_id" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.id }}">
            </div>

            {% if modified_teacher %}
                <div>
                    <input type="text" name="original_teacher_id" value="{{ modified_teacher.id }}" hidden>
                </div>
            {% endif %}

            <div>
                <span>姓名 </span>
                <input type="text" name="name" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.name }}">
            </div>

            <div>
                <span>毕业院校</span>
                <input type="text" name="graduate" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.graduate }}">
            </div>

            <div>
                <span>职 称 </span>
                <input type="text" name="title" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.title }}">
            </div>

            <div>
                <span>手机号 </span>
                <input type="text" name="phone_number" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.phone_number }}">
            </div>
        </div>

        <div class="add_right">

            <div>
                <span>所属系</span>
                <select name="department">
                    <option>生物工程</option>
                    <option>生物技术</option>
                    <option>生物信息</option>
                </select>
            </div>

            <div>
                <span>性 别 </span>
                <select name="gender">
                    {% if modified_teacher %}
                        {% if modified_teacher.gender == 1 %}
                            <option>男</option>
                            <option>女</option>
                        {% else %}
                            <option>女</option>
                            <option>男</option>
                        {% endif %}
                    {% else %}
                        <option>男</option>
                        <option>女</option>
                    {% endif %}
                </select>
            </div>

            <div>
                <span>专 业 </span>
                <input type="text" name="major" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.major }}">
            </div>

            <div>
                <span>出生日期 </span>
                <input type="date" name="birth_date" style="width: 200px" class="non_empty" placeholder="yyyy-mm-dd"
                       value="{{ modified_teacher.birth_date | date:'Y-n-d' }}">
            </div>

            <div>
                <span>邮箱 </span>
                <input type="text" name="email" style="width: 200px" class="non_empty"
                       value="{{ modified_teacher.email }}">
            </div>
        </div>
    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>