{% load staticfiles %}
<script src={% static "main/head_of_department/teacher_management/teacher_management.js" %}></script>

<div class="main_content">

    <div class="content_title">教师队伍管理</div>

    {% if export_all %}
        <div class="export_all_button" style="margin: -45px 0 0 0">全部导出</div>
    {% endif %}

    <div class="blur_area">

        {% for department in department_list %}
            {% if department.id != '470' %}
                <div class="project_item">
                    <div class="project_item_title">{{ department.name }}
                        <div class="export_button" id="{{ department.id }}_export">导出</div>
                    </div>

                    <table cellspacing="0">
                        <tr>
                            <th>教师编号</th>
                            <th>教师姓名</th>
                            <th>职称</th>
                            <th>联系方式</th>
                            <th>邮箱</th>
                            <th>操作</th>
                        </tr>

                        {% if teacher_list %}
                            {% for teacher in teacher_list %}
                                {% if teacher.department == department %}
                                    <tr>
                                        <td>{{ teacher.id }}</td>
                                        <td>{{ teacher.name }}</td>
                                        <td>{{ teacher.title }}</td>
                                        <td>{{ teacher.phone_number }}</td>
                                        <td>{{ teacher.email }}</td>
                                        <td>
                                            <img class="teacher_management_detail" id="{{ teacher.id }}_detail"
                                                 title="详细信息" src={% static "main/resourse/document.png" %}>
                                            <img class="teacher_management_modify" id="{{ teacher.id }}_modify"
                                                 title="修改" src={% static "main/resourse/modify.png" %}>
                                            <img class="teacher_management_delete" id="{{ teacher.id }}_delete"
                                                 title="删除" src={% static "main/resourse/delete.png" %}>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan="6">
                                <div class="add_button">新 增</div>

                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="hidden">
        <form id="teacher_management_export_form" class="hidden" method="post" action="/export" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.id }}">
            <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
            <input type="hidden" name="requestfor" value="teacher_management_export">
            <input type="hidden" name="department_id" id="export_department">
        </form>
    </div>

    <div class="teacher_management_add_content">

    </div>
</div>