body {
    background: #f4f4f4;
    font-family: 'Microsoft YaHei';
}

.top_bar {
    width: 100%;
    height: 80px;
    background: #262F40;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#logo {
    height: 60px;
    margin: 15px 0 0 60px;
    float: left;
}

.top_bar_right {
    width: 360px;
    height: 60px;
    margin: 15px 0 0;
    float: right;
}

.welcome {
    width: 280px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #DDDDDD;
    text-align: right;
    float: left;
}

.logout, .logout a {
    width: 60px;
    height: 40px;
    padding: 0 0 0 10px;
    line-height: 40px;
    font-size: 16px;
    color: #DDDDDD;
    float: right;
}

.logout a:hover {
    color: #ffffff;
}

.index_link {
    width: 310px;
    height: 30px;
    padding: 0 10px 0 0;
    position: relative;
    text-align: right;
    float: right;
    color: #DDDDDD;
}

.index_link a {
    color: #DDDDDD;
}

.index_link a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.content {
    width: 1024px;
    min-height: 500px;
    margin: 80px 0 0 0;
}

.content_left {
    width: 200px;
    height: 100%;
    min-height: 500px;
    padding: 0;
    background: #262F40;
    position: fixed;
    left: 0;
}

.copyright {
    width: 200px;
    position: fixed;
    bottom: 10px;
    text-align: center;
    color: #565F70;
    line-height: 15px;
    font-size: 12px;
}

.left_unit {
    width: 200px;
    min-height: 45px;
    margin: 10px 0 0 0;
    float: right;
}

.unit_title {
    width: 180px;
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    background: #EEEEEE;
    user-select: none;
    z-index: 999;
    float: right;
    cursor: pointer;
}

.unit_title:hover {
    background: #FFFFFF;
}

.unit_options {
    width: 150px;
    margin: 0 10px 0 0;
    user-select: none;
    display: none;
    float: right;
}

.unit_detail {
    width: 150px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    background: #DDDDDD;
    cursor: pointer;
}

.unit_detail:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.content_right {
    width: 800px;
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 0 50px 0;
    position: relative;
    float: left;
    left: 200px;
}

.even {
    background: #e8e8e8;
}

.loading {
    font-size: 16px;
    position: fixed;
}

.content_button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 25px #aaaaaa;
    cursor: pointer;
    float: left;
}

.content_button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

select {
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* * * * */

.single_line_item {
    width: 700px;
    height: 40px;
    margin: 15px auto 15px;
    box-shadow: 0 0 20px #aaaaaa;
}

.single_line_item_title {
    width: 250px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    background: #ffffff;
    float: left;
}

.single_line_item_value {
    width: 450px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    float: left;
}

.single_line_item_modify_area {
    width: 300px;
    height: 33px;
    padding: 0;
    font-size: 18px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
}

.main_content {
    width: 780px;
    min-height: 500px;
    height: 100%;
    margin: 20px auto;

}

.content_title {
    width: 780px;
    margin: 30px auto 0;
    font-size: 25px;
    text-align: center;
}

.notice_area {
    margin: 0 auto;
    padding: 0 50px;
    font-size: 16px;
}

.notice {
    margin: 0 auto;
    line-height: 32px;
}

.notice_time {
    float: right;
    width: 200px;
}

.notice_editor_area{
    width: 680px;
    margin: 0 auto;
}

#notice_editor {
    width: 680px;
    height: 400px;
    margin: 0 auto;
    font-size: 16px;
    resize: none;
}

.unsafe {
    width: 500px;
    margin: 50px auto;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.search_bar {
    width: 780px;
    height: 50px;
    margin: 30px auto;
    padding: 0 0 0 15px;
    font-size: 18px;
    line-height: 50px;
    background: #eeeeee;
    box-shadow: 0 0 30px #aaaaaa;
}

.search_bar_item {
    float: left;
    margin: 0 12px;
}

.search_button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    float: right;
    cursor: pointer;
    background: #eeeeee;
    box-shadow: 0 0 25px #aaaaaa;
}

.search_button:hover {
    background: #f4f4f4;
}

table {
    width: 780px;
    margin: 10px auto 0;
    text-align: center;
    box-shadow: 0 0 30px #aaaaaa;
    overflow: visible;
}

table th {
    background: #ffffff;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    overflow: hidden;
}

table td {
    max-width: 120px;
    height: 40px;
    line-height: 22px;
    font-size: 14px;
    padding: 12px 0;
}

table img {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    opacity: 0.7;
    cursor: pointer;
}

table img:hover {
    opacity: 0.9;
}

.reject_reason {
    width: 250px;
    height: auto;
    margin: 0 0 0 -70px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 25px #aaaaaa;
    text-align: left;
    position: absolute;
    display: none;
    z-index: 999;
}

.add_button {
    width: 780px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    /*border-top: 2px solid #d8d8d8;*/
    cursor: pointer;
}

.add_button:hover {
    box-shadow: 0 0 30px #dddddd;
}

.project_item {
    width: 780px;
    min-height: 180px;
    height: 100%;
    margin: 0 auto;
}

.project_item_title {
    font-size: 20px;
    margin: 40px 0 15px 20px;
}

/* * * * * * */

.add_popup {
    width: 780px;
    height: 500px;
    font-size: 18px;
    line-height: 30px;
    background: #f4f4f4;
    box-shadow: 0 0 50px #888888;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    z-index: 999;
}

.add_title {
    width: 780px;
    margin: 25px auto;
    font-size: 25px;
    text-align: center;
}

.add_cross {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.add_cross img {
    height: 25px;
    width: 25px;
    cursor: pointer;
    opacity: 0.6;
}

.add_cross img:hover {
    opacity: 1;
}

.add_left {
    width: 350px;
    height: 500px;
    margin: 0 0 0 80px;
    float: left;
}

.add_right {
    width: 350px;
    height: 500px;
    float: right;
}

.add_popup select {
    width: 180px;
    font-size: 18px;
    margin: 0 0 17px 0;
}

.add_popup input {
    width: 170px;
    height: 24px;
    margin: 0 0 17px 0;
    padding: 0 5px;
    font-size: 18px;
}

.courses_selector {
    height: 330px;
    overflow-y: scroll;
    line-height: 38px;
}

.courses_selector_item {
    margin: 0 2px;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
    background: #ddddff;
    padding: 5px;
    border-radius: 10px;
}

.add_classes {
    width: 300px;
    height: 150px;
    margin: 0 0 0 25px;
    float: left;
}

.add_classes div {
    height: 35px;
}

.add_classes input {
    height: 20px;
    width: 20px;
    padding: 0;
}

.add_buttons_area {
    width: 350px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 230px;
}

.add_buttons {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #f4f4f4;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 40px #aaaaaa;
}

.add_buttons:hover {
    background: #ffffff;
}

.add_submit {
    float: left;
}

.add_cancel {
    float: right;
}

.reset_password_button{
    position: absolute;
    left: 80px;
    top: 20px;
}

/* * * * * * */

.sort_type {
    cursor: pointer;
}

.sort_type:hover {
    background: #eeeeee;
}

.export_button {
    width: 70px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    background: #eeeeee;
    box-shadow: 0 0 30px #aaaaaa;
    cursor: pointer;
    float: right;
}

.export_button:hover {
    background: #f6f6f6;
}

.export_all_button {
    width: 120px;
    height: 50px;
    margin: 30px 16px 0 0;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #eeeeee;
    box-shadow: 0 0 30px #aaaaaa;
    cursor: pointer;
    float: right;
}

.export_all_button:hover {
    background: #f6f6f6;
}