{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/teacher/workload_input/pratice_course/pratice_course.css" %}>
<script src={% static "main/teacher/workload_input/pratice_course/pratice_course.js" %}></script>

<div class="pratice_course_content main_interface">

    <div class="content_title">实习/实训课 工作量录入</div>

    <div class="pratice_course_content_blur_area">

        <div class="pratice_course_search_bar">
            <form id="pratice_course_search_form" method="post" action="/getpage" name="pratice_course_search"
                  autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ user.id }}">
                <input type="hidden" name="requestfor" value="workload_input_pratice_course">

                <div class="pratice_course_search_bar_item">
                    <span>学年</span>
                    <select name="search_year">
                        {% if year != '所有' %}
                            <option>{{ year }}-{{ year|add:1 }}学年</option>
                        {% endif %}
                        <option>所有</option>
                        <option>2016-2017学年</option>
                        <option>2017-2018学年</option>
                    </select>
                </div>

                <div class="pratice_course_search_bar_item">
                    <span>学期</span>
                    <select name="search_semester">
                        <option>{{ semester }}</option>
                        <option>所有</option>
                        <option>第一学期</option>
                        <option>第二学期</option>
                    </select>
                </div>
            </form>

            <div id="pratice_course_search_button">查询</div>
        </div>

        <table class="pratice_course_table" cellspacing="0">
            <tr>
                <th width="120px">学年/学期</th>
                <th width="200px">课程名</th>
                <th width="150px">课程属性</th>
                <th width="150px">上课班级</th>
                <th width="50px">人数</th>
                <th width="50px">学时</th>
                <th width="50px">学分</th>
                <th width="100px">审核状态</th>
                <th width="100px">修改/删除</th>
            </tr>


            {% if course_list %}

                {% for course in course_list %}

                    <tr>
                        <td><div>{{ course.year }}-{{ course.year | add:1 }}学年</div><div>第{{ course.semester|itoc }}学期</div></td>
                        <td><div>{{ course.name }}</div><div>{{ course.id }}</div></td>
                        {% if course.attribute == 1 %}
                            <td>市区内认识实习</td>
                        {% elif course.attribute == 2 %}
                            <td>外地认识实习/市区内生产实习</td>
                        {% elif course.attribute == 3 %}
                            <td>外地生产实习/毕业实习/毕业设计(论文)</td>
                        {% else %}
                            <td>ERROR</td>
                        {% endif %}
                        <td>{{ course.classes | get_class_name }}</td>
                        <td>{{ course.student_sum }}</td>
                        <td>{{ course.period }}</td>
                        <td>{{ course.credit }}</td>
                        {% if course.audit_status == 0 %}
                            <td>未审核</td>
                        {% elif course.audit_status == 1 %}
                            <td>审核未通过</td>
                        {% elif course.audit_status == 2 %}
                            <td>已审核</td>
                        {% endif %}

                        {% if course.audit_status < 2 %}
                        <td>
                            <img class="pratice_course_modify" id="{{ course.id }}_modify"
                                 src={% static "main/resourse/modify.png" %}>
                            <img class="pratice_course_delete" id="{{ course.id }}_delete"
                                 src={% static "main/resourse/delete.png" %}>
                        </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>

                {% endfor %}

            {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><h2>暂</h2></td>
                    <td><h2>无</h2></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            {% endif %}


        </table>
        <div class="pratice_course_add_button">新 增</div>

    </div>

    <div class="pratice_course_add_content">

    </div>
</div>

