{% load staticfiles %}
{% load myfilters %}
<script src={% static 'main/teacher/workload_input/pratice_course/pratice_course_add.js' %}></script>

<div class="add_popup">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    <div class="add_title">新 增</div>

    <form id="pratice_course_add_form" method="post" action="/upload" name="pratice_course" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="requestfor" value="pratice_course_add">

        <input hidden id="location_year_post" name="location_year_post">
        <input hidden id="location_semester_post" name="location_semester_post">

        <div class="add_left">
            <div>
                <span>学年 </span>
                <select name="year">
                    {% if modified_course %}
                        <option>{{ modified_course.year }}-{{ modified_course.year|add:1 }}学年</option>
                    {% elif location %}
                        {% if year != '所有' %}
                            <option>{{ year }}-{{ year|add:1 }}学年</option>
                        {% endif %}
                    {% endif %}
                    {% for y in years %}
                        {% if y != year|stoi %}
                            <option>{{ y }}-{{ y|add:1 }}学年</option>
                        {% endif %}
                        {% if y != modified_course.year %}
                            <option>{{ y }}-{{ y|add:1 }}学年</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div>
                <span>学期 </span>
                <select name="semester">
                    {% if modified_course %}
                        {% if modified_course.semester == 1 %}
                            <option>第一学期</option>
                            <option>第二学期</option>
                        {% else %}
                            <option>第二学期</option>
                            <option>第一学期</option>
                        {% endif %}
                    {% elif location %}
                        {% if semester == '第二学期' %}
                            <option>第二学期</option>
                            <option>第一学期</option>
                        {% else %}
                            <option>第一学期</option>
                            <option>第二学期</option>
                        {% endif %}
                    {% else %}
                        <option>第一学期</option>
                        <option>第二学期</option>
                    {% endif %}
                </select>
            </div>

            <div>
                <span>课程属性 </span>
                <select name="course_attribute">
                    {% if modified_course %}
                        {% if modified_course.attribute == 1 %}
                            <option>市区内认识实习</option>
                            <option>外地认识实习/市区内生产实习</option>
                            <option>外地生产实习/毕业实习/毕业设计(论文)</option>
                        {% elif modified_course.attribute == 2 %}
                            <option>外地认识实习/市区内生产实习</option>
                            <option>市区内认识实习</option>
                            <option>外地生产实习/毕业实习/毕业设计(论文)</option>
                        {% elif modified_course.attribute == 3 %}
                            <option>外地生产实习/毕业实习/毕业设计(论文)</option>
                            <option>市区内认识实习</option>
                            <option>外地认识实习/市区内生产实习</option>
                        {% endif %}
                    {% else %}
                        <option>市区内认识实习</option>
                        <option>外地认识实习/市区内生产实习</option>
                        <option>外地生产实习/毕业实习/毕业设计(论文)</option>
                    {% endif %}
                </select>
            </div>

            <div>
                <span>课程名 </span>
                <input type="text" name="course_name" class="non_empty" value="{{ modified_course.name }}">
            </div>

            <div>
                <span>课程编号 </span>
                <input type="text" name="course_id" id="course_id" class="non_empty" value="{{ modified_course.id }}">
            </div>

            <div>
                <span>天数 </span>
                <input type="text" name="period" class="non_empty" value="{{ modified_course.period }}">
            </div>

        </div>

        <div class="add_right">

            <span>班级</span>
            <span>
                <select id="add_classes_select">
                    {% if grade %}
                        <option>{{ grade }}级</option>
                    {% endif %}
                    <option>2016级</option>
                    <option>2014级</option>
                    <option>2015级</option>
                    <option>2017级</option>
                </select>
            </span>
            <div class="add_classes">
                {% if class_list %}
                    {% for clas in class_list %}
                        {% if clas.id in classes_checked %}
                            <div><input type="checkbox" name="{{ clas.id }}" checked/> {{ clas.name }}</div>
                        {% else %}
                            <div><input type="checkbox" name="{{ clas.id }}"/> {{ clas.name }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>


    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>