{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/teacher/workload_count/workload_count.css" %}>
<script src={% static "main/teacher/workload_count/workload_count.js" %}></script>

<div class="main_content">

    <div class="content_title">工作量计算</div>

    <div class="search_bar" style="width: 580px">
        <div class="search_bar_item">
            <span>学年</span>
            <select id="workload_count_year">
                <option>{{ year }}-{{ year|add:1 }}学年</option>
                {% for y in years %}
                    {% if y != year|stoi %}
                        <option>{{ y }}-{{ y|add:1 }}学年</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="search_bar_item">
            <span>审核状态</span>
            <select id="workload_count_audit_status">
                {% if is_audit %}
                    <option>已审核</option>
                    <option>所有</option>
                {% else %}
                    <option>所有</option>
                    <option>已审核</option>
                {% endif %}
            </select>
        </div>

        <div class="search_button">查询</div>
    </div>

    <div class="project_item_title">默认只计算已审核工作量，可在上方选择 "审核状态:所有" 查看所有工作量</div>

    <div class="workload_count_item">
        <div class="workload_count_item_title" id="workload_count_item_title_teaching">教学工作量</div>
        <table class="workload_count_table" cellspacing="0" cellpadding="0">
            <tr>
                <th>理论课</th>
                <td>{{ theory_course_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>实验课</th>
                <td>{{ experiment_course_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>实习/实训课</th>
                <td>{{ pratice_course_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>总计</th>
                <td>{{ course_total_W }}</td>
            </tr>
        </table>
    </div>


    <div class="workload_count_item">
        <div class="workload_count_item_title" id="workload_count_item_title_research">教研工作量</div>
        <table class="workload_count_table" cellspacing="0" cellpadding="0">
            <tr>
                <th>教学成果</th>
                <td>{{ teaching_achievement_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>本科教学工程项目</th>
                <td>{{ teaching_project_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>指导竞赛</th>
                <td>{{ competition_guide_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>指导本科学术论文</th>
                <td>{{ paper_guide_W }}</td>
            </tr>

            <tr class="workload_count_table_margin"></tr>

            <tr>
                <th>总计</th>
                <td>{{ project_total_W }}</td>
            </tr>
        </table>
    </div>

</div>