{% load staticfiles %}
{% load myfilters %}
<script src={% static 'main/teacher/workload_input/teaching_achievement/teaching_achievement_add.js' %}></script>

<div class="add_popup" style="height: 350px">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    {% if modified_project %}
        <div class="add_title">修 改</div>
    {% else %}
        <div class="add_title">新 增</div>
    {% endif %}

    <form id="teaching_achievement_add_form" method="post" action="/upload" name="teaching_achievement"
          autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
        <input type="hidden" name="requestfor" value="teaching_achievement_add">

        <input type="hidden" id="location_year_post" name="location_year_post">

        <div style="margin: 0 0 0 100px;">
            <span>项目名称 </span>
            <input type="text" name="project_name" style="width: 470px" class="non_empty"
                   value="{{ modified_project.name }}">
        </div>

        <div hidden><span>项目编号</span><input type="text" name="project_id" value="{{ modified_project.id }}"></div>

        <div class="add_left">
            <div>
                <span>类别 </span>
                <select name="type" id="project_type">
                    {% if modified_project %}
                        <option>{{ modified_project.type }}</option>
                        {% if modified_project.type == '教研论文' %}
                            <option>教改项目结项</option>
                            <option>教学成果</option>
                            <option>教材</option>
                        {% elif modified_project.type == '教改项目结项' %}
                            <option>教研论文</option>
                            <option>教学成果</option>
                            <option>教材</option>
                        {% elif modified_project.type == '教学成果' %}
                            <option>教研论文</option>
                            <option>教改项目结项</option>
                            <option>教材</option>
                        {% elif modified_project.type == '教材' %}
                            <option>教研论文</option>
                            <option>教改项目结项</option>
                            <option>教学成果</option>
                        {% endif %}
                    {% else %}
                        <option>教研论文</option>
                        <option>教改项目结项</option>
                        <option>教学成果</option>
                        <option>教材</option>
                    {% endif %}
                </select>
            </div>

            <div>
                <span>级别 </span>
                <select name="level" id="project_level">
                    {% if modified_project %}
                        <option>{{ modified_project.level }}</option>
                        {% if modified_project.type == '教研论文' %}
                            {% if modified_project.level == '核心期刊' %}
                                <option>一般期刊</option>
                            {% elif modified_project.level == '一般期刊' %}
                                <option>核心期刊</option>
                            {% endif %}

                        {% elif modified_project.type == '教改项目结项' or modified_project.type == '教学成果' %}
                            {% if modified_project.level == '国家级' %}
                                <option>省部级</option>
                                <option>校级</option>
                            {% elif modified_project.level == '省部级' %}
                                <option>国家级</option>
                                <option>校级</option>
                            {% elif modified_project.level == '校级' %}
                                <option>国家级</option>
                                <option>省部级</option>
                            {% endif %}

                        {% elif modified_project.type == '教材' %}
                            {% if modified_project.level == '全国统编教材、国家级规划教材、全国教学专业指导委员会指定教材、全国优秀教材' %}
                                <option>其他正式出版教材</option>
                            {% elif modified_project.level == '其他正式出版教材' %}
                                <option>全国统编教材、国家级规划教材、全国教学专业指导委员会指定教材、全国优秀教材</option>
                            {% else %}
                                <option>全国统编教材、国家级规划教材、全国教学专业指导委员会指定教材、全国优秀教材</option>
                                <option>其他正式出版教材</option>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <option>核心期刊</option>
                        <option>一般期刊</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="add_right">

            <div style="margin: 0 0 0 -45px">
                <span>鉴定年份 </span>
                <select name="year">
                    {% if modified_project %}
                        <option>{{ modified_project.year }}年</option>
                        {% for y in years %}
                            {% if y != modified_project.year %}
                                <option>{{ y }}年</option>
                            {% endif %}
                        {% endfor %}
                    {% elif location %}
                        {% if year != '所有' %}
                            <option>{{ year }}年</option>
                        {% endif %}
                        {% for y in years %}
                            {% if y != year|stoi %}
                                <option>{{ y }}年</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div id="project_rank_area"
                    {% if modified_project.type != '教学成果' %}
                 hidden
                    {% endif %}>
                <span>奖项 </span>
                <select name="rank" id="project_rank">
                    {% if modified_project %}
                        {% if modified_project.type == '教学成果' %}
                            <option>{{ modified_project.rank }}</option>
                            {% if modified_project.rank == '特等' %}
                                <option>一等</option>
                                <option>二等</option>
                            {% elif modified_project.rank == '一等' %}
                                <option>特等</option>
                                <option>二等</option>
                            {% elif modified_project.rank == '二等' %}
                                <option>特等</option>
                                <option>一等</option>
                            {% endif %}
                        {% else %}
                            <option>特等</option>
                            <option>一等</option>
                            <option>二等</option>
                        {% endif %}
                    {% else %}
                        <option>特等</option>
                        <option>一等</option>
                        <option>二等</option>
                    {% endif %}

                </select>
            </div>
        </div>


    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>
