{% load staticfiles %}
<link rel="stylesheet" href={% static "main/head_of_department/workload_audit/paper_guide/paper_guide_audit.css" %}>
<script src={% static "main/head_of_department/workload_audit/paper_guide/paper_guide_audit.js" %}></script>


<div class="paper_guide_audit_content main_interface">

    <div class="content_title">指导本科学术论文 审核</div>

    <table class="paper_guide_audit_table" cellspacing="0">
        <tr>
            <th width="250px">论文名称</th>
            <th width="80px">教师</th>
            <th width="100px">作者</th>
            <th width="80px">级别</th>
            <th width="100px">审核状态</th>
            <th width="80px">操作</th>
        </tr>

        {% if project_list %}
            {% for project in project_list %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>
                        <div>{{ project.teacher.name }}</div>
                        <div>{{ project.teacher.id }}</div>
                    </td>
                    <td>{{ project.author }}</td>
                    <td>{{ project.level }}</td>

                    {% if project.audit_status == 0 %}
                        <td>未审核</td>
                        <td>
                            <button class="paper_guide_audit_pass" id="{{ project.id }}_pass">通过
                            </button>
                            <button class="paper_guide_audit_reject" id="{{ project.id }}_reject">驳回
                            </button>
                        </td>
                    {% elif project.audit_status == 1 %}
                        <td>审核未通过</td>
                        <td>
                            <button class="paper_guide_audit_pass" id="{{ project.id }}_pass">通过
                            </button>
                        </td>
                    {% elif project.audit_status == 2 %}
                        <td>已审核</td>
                        <td>
                            <button class="paper_guide_audit_reject" id="{{ project.id }}_reject">驳回
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
