{% load staticfiles %}
<script src={% static 'main/head_of_department/class_management/class_management_add.js' %}></script>

<div class="add_popup" style="height: 350px;">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    <div class="add_title">新 增</div>

    <form id="class_management_add_form" method="post" action="/upload" name="class_management"
          autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="requestfor" value="class_management_add">

        <div class="add_left">
            <div>
                <span>年级 </span>
                <select name="grade">
                    {% if modified_class %}
                        <option selected>{{ modified_class.grade }}级</option>
                    {% endif %}
                    <option>2016级</option>
                    <option>2017级</option>
                </select>
            </div>

            <div>
                <span>班级编号 </span>
                <input type="text" name="class_id" style="width: 200px" value="{{ modified_class.id }}">
            </div>

            {% if modified_class %}
                <div>
                    <input type="text" name="original_class_id" style="width: 200px" hidden
                           value="{{ modified_class.id }}">
                </div>
            {% endif %}

            <div>
                <span>班主任 </span>
                <select name="teacher" style="width: 225px">
                    {% if modified_class %}
                        <option selected>{{ modified_class.teacher.name }} {{ modified_class.teacher.id }}</option>
                        {% else %}
                        <option selected> </option>
                    {% endif %}
                    {% if teacher_list %}
                        {% for teacher in teacher_list %}
                            <option>{{ teacher.name }} {{ teacher.id }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="add_right">
            <div>
                <span>所属系</span>
                <select disabled>
                    <option>{{ user.department.name }}</option>
                </select>
            </div>

            <div>
                <span>班级名称 </span>
                <input type="text" name="name" style="width: 200px" value="{{ modified_class.name }}">
            </div>

            <div>
                <span>班级人数 </span>
                <input type="text" name="student_sum"
                       style="width: 200px; text-align: center"
                       value="{{ modified_class.sum }}">
            </div>
        </div>
    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>