{% load staticfiles %}
<script src={% static "/main/dean/class_management/class_management_add.js" %}></script>

<div class="add_popup" style="height: 320px;">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    {% if modified_class %}
        <div class="add_title">修 改</div>
    {% else %}
        <div class="add_title">新 增</div>
    {% endif %}

    <form id="class_management_add_form" method="post" action="/upload" autocomplete="off">
        <div class="hidden">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.id }}">
            <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
            <input type="hidden" name="requestfor" value="class_add">
            {% if modified_class %}
                <input type="hidden" name="request_data" value="{{ modified_class.grade }}">
            {% else %}
                <input type="hidden" name="request_data" value="{{ location_grade }}">
            {% endif %}
        </div>


        <div class="add_left">
            <div>
                <span>年级 </span>
                <select name="grade" id="grade" style="margin-left: 42px">
                    {% if modified_class %}
                        <option selected>{{ modified_class.grade }}级</option>
                        {% for grade in grade_list %}
                            {% if grade != modified_class.grade %}
                                <option>{{ grade }}级</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option>{{ location_grade }}级</option>
                        {% for grade in grade_list %}
                            {% if grade != location_grade %}
                                <option>{{ grade }}级</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </select>
            </div>

            <div>
                <span>班级编号 </span>
                <input type="text" name="class_id" id="class_id" style="width: 200px" class="non_empty"
                       value="{{ modified_class.id }}">
            </div>

            {% if modified_class %}
                <div class="hidden">
                    <input type="hidden" name="original_class_id" style="width: 200px"
                           value="{{ modified_class.id }}">
                </div>
            {% endif %}

            <div>
                <span>班主任 </span>
                <select name="teacher" style="width: 215px; margin-left: 20px" er>
                    {% if modified_class %}
                        <option selected>{{ modified_class.teacher.name }} {{ modified_class.teacher.id }}</option>
                    {% else %}
                        <option selected></option>
                    {% endif %}
                    {% if teacher_list %}
                        {% for teacher in teacher_list %}
                            <option>{{ teacher.name }} {{ teacher.id }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="add_right">
            <div>
                <span>所属系</span>
                <select name="department" style="margin-left: 22px">
                    {% if modified_class %}
                        <option>{{ modified_class.department.name }}</option>
                        {% for d in department_list %}
                            {% if d != modified_class.department and d.id != '470' %}
                                <option>{{ d.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option>{{ department.name }}</option>
                        {% for d in department_list %}
                            {% if d != department and d.id != '470' %}
                                <option>{{ d.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div>
                <span>班级名称 </span>
                <input type="text" name="name" style="width: 200px" class="non_empty" value="{{ modified_class.name }}">
            </div>

            <div>
                <span>班级人数 </span>
                <input type="text" name="student_sum" style="width: 200px; text-align: center" class="non_empty"
                       value="{{ modified_class.sum }}">
            </div>
        </div>
    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>