{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/teacher/workload_input/competition_guide/competition_guide.css" %}>
<script src={% static "main/teacher/workload_input/competition_guide/competition_guide.js" %}></script>

<div class="competition_guide_content main_interface">

    <div class="content_title">指导竞赛 工作量录入</div>

    <div class="competition_guide_content_blur_area">

        <div class="competition_guide_item">
            <div class="competition_guide_item_title">全国性大学生学科竞赛</div>

            <table class="competition_guide_item_table" cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="250px">项目名称</th>
                    <th width="150px">参赛学生</th>
                    <th width="80px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '全国性大学生学科竞赛' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.students }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="competition_guide_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="competition_guide_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </table>
            <div class="competition_guide_add_button">新 增</div>
        </div>


        <div class="competition_guide_item">
            <div class="competition_guide_item_title">省部级大学生竞赛</div>

            <table class="competition_guide_item_table" cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="250px">项目名称</th>
                    <th width="150px">参赛学生</th>
                    <th width="80px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '省部级大学生竞赛' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.students }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="competition_guide_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="competition_guide_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </table>
            <div class="competition_guide_add_button">新 增</div>
        </div>

    </div>


    <div class="competition_guide_add_content">

    </div>

</div>