.workload_count_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
    background: red;
}

.workload_count_item {
    width: 1000px;
    margin: 10px auto 40px;
    text-align: center;
    box-shadow: 0 0 50px #aaaaaa;
}

.workload_count_item_title {
    width: 220px;
    font-size: 26px;
    color: #444444;
    background: #f0f0f0;
    float: left;
}

.workload_count_table {
    width: 760px;
    font-size: 20px;
    line-height: 72px;
    box-shadow: none;
    position: relative;
    left: -10px;
}

.workload_count_table_margin {
    height: 12px;
}

.workload_count_table th {
    height: 30px;
    width: 300px;
    background: #ffffff;
}

.workload_count_table td {
    height: 30px;
    width: 600px;
    background: #ffffff;
}

#workload_count_item_title_teaching {
    height: 188px;
    line-height: 188px;
}

#workload_count_item_title_research {
    height: 238px;
    line-height: 238px;
}
