{% load staticfiles %}
<link rel="stylesheet" href={% static "main/dean/global_settings/global_settings.css" %}>
<script src={% static "main/dean/global_settings/global_settings.js" %}></script>

<div class="main_content" id="global_settings_content">

    <div class="content_title">全局设置</div>

    <div class="blur_area" style="margin: 30px auto 0">

        <div class="single_line_item">
            <div class="single_line_item_title">当前学年</div>
            <div class="single_line_item_value">
                <button type="button" id="year_pre" class="pre"> <</button>
                <p id="year">{{ current_year }}-{{ current_year|add:1 }}学年</p>
                <button type="button" id="year_next" class="next"> ></button>
            </div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">当前学期</div>
            <div class="single_line_item_value">
                <button type="button" class="semester_change pre"> <</button>
                {% if current_semester == 1 %}
                    <p id="semester">第一学期</p>
                {% elif current_semester == 2 %}
                    <p id="semester">第二学期</p>
                {% endif %}
                <button type="button" class="semester_change next"> ></button>
            </div>
        </div>

        <div class="hidden">
            <form id="global_settings_form" method="post" action="/upload">
                {% csrf_token %}
                <input name="username" value="{{ user.id }}">
                <input name="identify_code" value="{{ user.identify_code }}">
                <input name="requestfor" value="global_setting">

                <input name="year" id="year_upload">
                <input name="semester" id="semester_upload">

            </form>
        </div>

        <div class="content_button hidden" id="global_settings_form_submit" style="margin: 50px auto; float: none;">保存
        </div>
    </div>

</div>