{% load staticfiles %}
<link rel="stylesheet" href={% static "main/admin/database_management/database_management.css" %}>
<script src={% static "main/admin/database_management/database_management.js" %}></script>


<div class="main_content">

    <div class="content_title">数据库管理</div>

    <div class="project_item">
        <div class="project_item_title" style="margin-bottom: 10px">数据库备份</div>

        <div style="margin: 0 0 5px 20px;">数据库备份会在服务器存储一份备份，并提供一份备份以供下载另行存储</div>
        <div style="margin: 0 0 5px 20px;">输入文件名后点击"数据库备份"按钮即可备份</div>
        <div style="margin: 0 0 0 20px;">另：目前只支持英文文件名，可下载后自行修改</div>

        <div class="database_dump_area">
            <div class="database_dump_title">文件名</div>

            <form id="database_dump_form" method="post" action="/database" autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ user.id }}">
                <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
                <input type="hidden" name="requestfor" value="database_backup_manual">

                <input id="database_dump_filename" name="filename" placeholder="放空则默认为以日期命名">
                <input id="database_dump_filetype" value=".sql" readonly>
            </form>

            <div id="database_dump_button">数据库备份</div>
        </div>
    </div>

    <div class="project_item" style="margin-top: 80px;">

        <div class="project_item_title" style="margin-bottom: 10px">自动备份</div>

        <div style="font-size: 18px; margin: 20px 0 0 0">
            <span id="changed_mark" style="position: absolute" hidden>*</span>
            <span style="margin: 0 0 0 20px">每隔 </span>
            <select id="database_auto_backup_setting">
                <option>1 天</option>
                <option>3 天</option>
                <option>7 天</option>
                <option>14 天</option>
                <option>1个月</option>
            </select>
            <span> 进行自动备份</span>

            <button style="font-size: 16px; margin: 0 0 0 10px; cursor: pointer" onclick="alert('懒得写了，现在每天备份')">保存</button>
        </div>

    </div>

    <div class="project_item">
        <div class="project_item_title" style="margin-bottom: 10px">备份记录</div>

        <table cellspacing="0">
            <tr>
                <th>文件名</th>
                <th>备份时间</th>
                <th>大小</th>
                <th>操作</th>
            </tr>

            {% if backup_infos %}
                {% for info in backup_infos %}
                    {% if info.1 != '.DS_Store' %}
                        <tr>
                            <td>{{ info.1 }}</td>
                            <td>{{ info.2 }}</td>
                            <td>{{ info.3 }} KB</td>
                            <td>
                                <button class="database_download_button" id="{{ info.1 }}_download">下载</button>
                                <button class="database_delete_button" id="{{ info.1 }}_delete">删除</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

    <form id="backup_operation_form" hidden method="post" action="/database" autocomplete="off">
        {% csrf_token %}
        <input name="username" value="{{ user.id }}">
        <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
        <input name="requestfor" id="backup_operation_form_requestfor">

        <input name="backup_id" id="backup_id">
    </form>

</div>