.workload_statistics_table {
    width: 980px;
    margin: 30px auto 0;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.workload_statistics_table th {
    background: rgba(255, 255, 255, 0.7);
}

.workload_statistics_table td {
    background: rgba(255, 255, 255, 0.2);
}

