{% extends "main/main.html" %}
{% block content_left %}

    {% include "main/teacher/user_info/menu.html" %}

    {% include "main/teacher/workload_input/menu.html" %}

    {% include "main/teacher/workload_count/menu.html" %}

{% endblock %}

{% block content_right %}

    <div class="main_content">
        <div class="content_title">公告</div>
        <div class="notice">
            <div class="notice_div">
                1. XXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="notice_div">
                2. XXXXXXXXXXXXXXXXXXXXXXXXX
            </div>

        </div>
    </div>

{% endblock %}