{% extends "main/main.html" %}
{% load staticfiles %}

{% block content_left %}

    {% include "main/teacher/notice/menu.html" %}

    {% include "main/teacher/user_info/menu.html" %}

    {% include "main/teacher/workload_input/menu.html" %}

    {% include "main/teacher/workload_count/menu.html" %}

{% endblock %}

{% block content_right %}

    {% include "main/teacher/notice/notice.html" %}

{% endblock %}

{% block main_footer %}
    <script src={% static "main/teacher/teacher.js" %}></script>
{% endblock %}