body {
    background: url('../base/background2.jpg') no-repeat fixed;
    background-size: cover;
    font-family: 'Microsoft YaHei';
    color: #DDDDDD;
    height: 100%;
}

.top_bar {
    width: 100%;
    height: 100px;
    background: #262F40;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    height: 75px;
    margin: 18px 0 0 80px;
    float: left;
}

.index_link {
    width: 250px;
    height: 30px;
    margin: 65px 0 0;
    float: right;
}

.index_link a {
    color: #DDDDDD;
}

.login_contain {
    width: 280px;
    height: 240px;
    margin: 250px auto 0;
    padding: 0 30% 0 0;
    line-height: 35px;
}

.input_row {
    height: 50px;
}

.input_row_title {
    width: 80px;
    font-size: 22px;
    float: left;
}

.login_contain input, select {
    width: 180px;
    height: 24px;
    padding: 3px 10px;
    font-size: 20px;
    opacity: 0.7;
    border: none;
    border-radius: 3px;
}

.login_contain select {
    width: 200px;
    height: 30px;
}

.login_contain input:focus {
    opacity: 1;
}

#captcha {
    width: 80px;
    text-align: center;
    float: left;
}

#captcha_img {
    width: 85px;
    height: 28px;
    margin: 0 0 0 15px;
    line-height: 28px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    user-select: none;
    text-align: center;
    color: #333333;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

#warnings {
    width: 160px;
    height: 20px;
    margin: 0 0 0 10px;
    color: #ff0000;
    float: left;
    position: relative;
    top: -8px
}

#login_button {
    width: 200px;
    height: 35px;
    margin: 0 0 0 80px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

#login_button:active {
    color: #666666;
}

.index_fotter {
    width: 100%;
    height: 80px;
    background: #262F40;
    position: fixed;
    left: 0;
    bottom: 0;
}

.index_fotter_contain {
    width: 300px;
    height: 60px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 15px;
}