
#global_settings_content button{
    cursor: pointer;
}

#global_settings_content p{
    width: 150px;
    margin: 0 auto;
    float: none;
}

.pre{
    float: left;
    height: 20px;
    margin: 12px 0 0 100px;
}

.next{
    float: right;
    height: 20px;
    margin: -28px 100px 0 0;
}