{% load staticfiles %}
{% load myfilters %}
<script src={% static 'main/teacher/workload_input/teaching_project/teaching_project_add.js' %}></script>

<div class="add_popup" style="height: 350px">

    <div class="add_cross"><img src={% static "main/resourse/cross.png" %}></div>

    <div class="add_title">新 增</div>

    <form id="teaching_project_add_form" method="post" action="/upload" name="teaching_project"
          autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
        <input type="hidden" name="requestfor" value="teaching_project_add">

        <input hidden id="location_year_post" name="location_year_post">


        <div style="margin: 0 0 0 100px">
            <span>项目名称 </span>
            <input type="text" name="project_name" style="width: 470px" class="non_empty"
                   value="{{ modified_project.name }}">
        </div>

        <div hidden><span>项目编号</span><input type="text" name="project_id" value="{{ modified_project.id }}"></div>

        <div class="add_left">
            <div>
                <span>年份 </span>
                <select name="year">
                    {% if modified_project %}
                        <option>{{ modified_project.year }}年</option>
                        {% for y in years %}
                            {% if y != modified_project.year %}
                                <option>{{ y }}年</option>
                            {% endif %}
                        {% endfor %}
                    {% elif location %}
                        {% if year != '所有' %}
                            <option>{{ year }}年</option>
                        {% endif %}
                        {% for y in years %}
                            {% if y != year|stoi %}
                                <option>{{ y }}年</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

        </div>


        <div class="add_right">
            <div>
                <span>类别 </span>
                <select name="type" id="project_type">
                    {% if modified_project %}
                        <option>{{ modified_project.type }}</option>
                        {% for type in type_list %}
                            {% if type != modified_project.type %}
                                <option>{{ type }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for type in type_list %}
                            <option>{{ type }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div>
                <span>级别 </span>
                <select name="level" id="project_level">
                    {% if modified_project %}
                        <option>{{ modified_project.level }}</option>
                        {% if modified_project.type != '工程实践教育中心' %}
                            {% if modified_project.level == '国家级' %}
                                <option>省部级</option>
                                <option>校级</option>
                            {% elif modified_project.level == '省部级' %}
                                <option>国家级</option>
                                <option>校级</option>
                            {% elif modified_project.level == '校级' %}
                                <option>国家级</option>
                                <option>省部级</option>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <option>国家级</option>
                        <option>省部级</option>
                        <option>校级</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </form>

    <div class="add_buttons_area">
        <div class="add_buttons add_submit">提交</div>
        <div class="add_buttons add_cancel">取消</div>
    </div>


</div>