{% load staticfiles %}
{% load myfilters %}
<script src={% static "main/teacher/workload_input/teaching_project/teaching_project.js" %}></script>

<div class="main_content">

    <div class="content_title">本科教学工程项目 工作量录入</div>

    <div class="blur_area">

        <div class="search_bar">
            <form id="teaching_project_search_form" method="post" action="/getpage" name="teaching_project_search"
                  autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ user.id }}">
                <input type="hidden" name="requestfor" value="workload_input_teaching_project">

                <input hidden id="location_year" value="{{ year }}">
                <input hidden id="location_semester" value="{{ semester }}">

                <div class="search_bar_item">
                    <span>学年</span>
                    <select name="search_year">
                        {% if year != '所有' %}
                            <option>{{ year }}-{{ year|add:1 }}学年</option>
                        {% endif %}
                        <option>所有</option>
                        <option>2016-2017学年</option>
                        <option>2017-2018学年</option>
                    </select>
                </div>

                <div class="search_bar_item">
                    <span>学期</span>
                    <select name="search_semester">
                        <option>{{ semester }}</option>
                        <option>所有</option>
                        <option>第一学期</option>
                        <option>第二学期</option>
                    </select>
                </div>
            </form>

            <div class="search_button">查询</div>
        </div>

        <div class="project_item">
            <div class="project_item_title">专业、团队及实验中心类</div>

            <table cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="300px">项目名称</th>
                    <th width="150px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '专业、团队及实验中心类' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="teaching_project_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="teaching_project_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <td colspan="5">
                        <div class="add_button">新 增</div>
                    </td>
                </tr>

            </table>
        </div>


        <div class="project_item">
            <div class="project_item_title">课程类</div>

            <table cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="300px">项目名称</th>
                    <th width="150px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '课程类' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="teaching_project_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="teaching_project_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <td colspan="5">
                        <div class="add_button">新 增</div>
                    </td>
                </tr>

            </table>
        </div>

        <div class="project_item">
            <div class="project_item_title">工程实践教育类</div>

            <table cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="300px">项目名称</th>
                    <th width="150px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '工程实践教育类' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="teaching_project_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="teaching_project_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <td colspan="5">
                        <div class="add_button">新 增</div>
                    </td>
                </tr>

            </table>
        </div>

        <div class="project_item">
            <div class="project_item_title">教学名师</div>

            <table cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="300px">项目名称</th>
                    <th width="150px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '教学名师' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="teaching_project_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="teaching_project_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <td colspan="5">
                        <div class="add_button">新 增</div>
                    </td>
                </tr>

            </table>
        </div>

        <div class="project_item">
            <div class="project_item_title">大学生创新创业训练</div>

            <table cellspacing="0">
                <tr>
                    <th width="120px">学年/学期</th>
                    <th width="300px">项目名称</th>
                    <th width="150px">级别</th>
                    <th width="100px">审核状态</th>
                    <th width="100px">修改/删除</th>
                </tr>

                {% if project_list %}
                    {% for project in project_list %}
                        {% if project.type == '大学生创新创业训练' %}
                            <tr>
                                <td>
                                    <div>{{ project.year }}-{{ project.year|add:1 }}学年</div>
                                    <div>第{{ project.semester|itoc }}学期</div>
                                </td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.level }}</td>

                                {% if project.audit_status == 0 %}
                                    <td>未审核</td>
                                {% elif project.audit_status == 1 %}
                                    <td>审核未通过</td>
                                {% elif project.audit_status == 2 %}
                                    <td>已审核</td>
                                {% endif %}

                                {% if project.audit_status < 2 %}
                                    <td>
                                        <img class="teaching_project_modify" id="{{ project.id }}_modify"
                                             src={% static "main/resourse/modify.png" %}>
                                        <img class="teaching_project_delete" id="{{ project.id }}_delete"
                                             src={% static "main/resourse/delete.png" %}>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <td colspan="5">
                        <div class="add_button">新 增</div>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="teaching_project_add_content">

    </div>

</div>