{% load staticfiles %}
<link rel="stylesheet" href={% static "main/teacher/user_info/change_password.css" %}>
<script src={% static "main/teacher/user_info/change_password.js" %}></script>
<script src={% static "library/md5.js" %}></script>

<div class="main_content">

    <div class="content_title">修改密码</div>

    <form id="change_password_form" method="post" action="/upload" name="change_password" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="requestfor" value="change_password">

        <div class="change_password_item">
            <div class="change_password_content_title">请输入原密码</div>
            <input type="password" id="change_password_original_password" name="original_password" class="user_info_modify_area">
        </div>

        <div class="change_password_item">
            <div class="change_password_content_title">请输入新密码</div>
            <input type="password" id="change_password_new_password" name="new_password" class="user_info_modify_area">
        </div>
    </form>

    <div class="content_button" id="change_password_button">确定</div>

</div>