{% load staticfiles %}
<link rel="stylesheet" href={% static "main/teacher/user_info/user_info.css" %}>
<script src={% static "main/teacher/user_info/user_info.js" %}></script>

<div class="main_content">

    <div class="content_title">用户信息</div>

    <form id="user_info_form" method="post" action="/upload" name="user_info" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.id }}">
        <input type="hidden" name="requestfor" value="user_info">

        <div class="user_info_item">
            <div class="user_info_content_title">用户名</div>
            <div class="user_info_content_value">{{ user.id }}</div>
        </div>

        <div class="user_info_item">
            <div class="user_info_content_title">登录身份</div>
            <div class="user_info_content_value">教师</div>
        </div>

        <div class="user_info_item">
            <div class="user_info_content_title">姓名</div>
            <div class="user_info_content_value">{{ user.name }}</div>
        </div>

        <div class="user_info_item">
            <div class="user_info_content_title">职称</div>
            <div class="user_info_content_value">{{ user.title }}</div>
        </div>

        <div class="user_info_item">
            <div class="user_info_content_title">所属系</div>
            <div class="user_info_content_value">{{ user.department.name }}</div>
        </div>

        <div class="user_info_item">
            <div class="user_info_content_title">手机号</div>
            <div class="user_info_content_value user_info_can_modify" name="phone_number">{{ user.phone_number }}</div>
        </div>

        <div class="user_info_item">
            <div class="user_info_content_title">邮箱</div>
            <div class="user_info_content_value user_info_can_modify" name="email">{{ user.email }}</div>
        </div>

    </form>

    <div class="content_button" id="user_info_modify">修改</div>

</div>