{% load staticfiles %}
{% load myfilters %}
<script src={% static "main/teacher/user_info/user_info.js" %}></script>

<div class="main_content">

    <div class="content_title">用户信息</div>

    <form id="user_info_form" method="post" action="/upload" style="margin: 30px auto 0" autocomplete="off">
        <div class="hidden">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.id }}">
            <input type="hidden" name="identify_code" value="{{ user.identify_code }}">
            <input type="hidden" name="requestfor" value="user_info">
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">用户名</div>
            <div class="single_line_item_value">{{ user.id }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">姓名</div>
            <div class="single_line_item_value">{{ user.name }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">性别</div>
            <div class="single_line_item_value" id="user_info_gender_selector"
                 name="gender">{{ user.gender | gender_tostr }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">所属系</div>
            <div class="single_line_item_value" id="user_info_department_selector"
                 name="department">{{ user.department.name }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">职称</div>
            <div class="single_line_item_value single_line_item_can_modify" name="title">{{ user.title }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">出生日期</div>
            <div class="single_line_item_value single_line_item_can_modify" name="birth_date">{{ birth_date }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">毕业院校</div>
            <div class="single_line_item_value single_line_item_can_modify" name="graduate">{{ user.graduate }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">专业</div>
            <div class="single_line_item_value single_line_item_can_modify" name="major">{{ user.major }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">手机号</div>
            <div class="single_line_item_value single_line_item_can_modify"
                 name="phone_number">{{ user.phone_number }}</div>
        </div>

        <div class="single_line_item">
            <div class="single_line_item_title">邮箱</div>
            <div class="single_line_item_value single_line_item_can_modify" name="email">{{ user.email }}</div>
        </div>

    </form>

    <div class="content_button" id="user_info_modify" style="margin: 50px auto 0; float: none;">修改</div>

</div>